.method-post {
  background-color: rgba(148, 220, 148, 0.5);
  text-transform: uppercase;
  text-align: center;
}

.method-summary-post {
  background-color: rgba(148, 220, 148, 0.2);
}

.method-put {
  background-color: rgba(240, 220, 168, 0.5);
  text-transform: uppercase;
  text-align: center;
}

.method-summary-put {
  background-color: rgba(240, 220, 168, 0.2);
}

.method-get {
  background-color: rgba(148, 158, 220, 0.5);
  text-transform: uppercase;
  text-align: center;
}

.method-summary-get {
  background-color: rgba(148, 158, 220, 0.2);
}

.method-delete {
  background-color: rgba(220, 158, 148, 0.5);
  text-transform: uppercase;
  text-align: center;
}

.method-summary-delete {
  background-color: rgba(220, 158, 148, 0.2);
}

.params-and-request {
}

.code-box {
  background: #f4f5f6;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
}

.code-text {
  background: transparent;
  white-space: pre-wrap;
}
